exp-contacts-api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:contact-database-system-api="http://www.mulesoft.org/schema/mule/contact-database-system-api" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/contact-database-system-api http://www.mulesoft.org/schema/mule/contact-database-system-api/current/mule-contact-database-system-api.xsd">
	 <contact-database-system-api:config name="Contact_Database_System_API_Config" doc:name="Contact Database System API Config" doc:id="15715f85-9425-45b7-b46c-bfe4306ce948" property_host="${sys_contact_api.host}" property_basePath="${sys_contact_api.root-context}" property_protocol="HTTP" property_port="80"/>
	<flow name="AddAddressToContactFlow" doc:id="f13d83d2-0464-4643-af82-d01c5b1e5bce" >
		<logger level="INFO" doc:name="Logger" doc:id="15386906-85b4-4be7-838e-6cc8844368d7" message="Adding a new address to Contact number #[vars.id]"/>
		<contact-database-system-api:create-address-to doc:name="AddNewAddressToContact" doc:id="28632fbc-242b-42c6-90f0-191ca1801659" config-ref="Contact_Database_System_API_Config" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}"/>
	</flow>
	<flow name="AddCommunicationToContactFlow" doc:id="28423a35-33f6-492e-8a72-35260ffc20c2" >
		<logger level="INFO" doc:name="Logger" doc:id="1b3ca59a-8888-49ad-86e5-00c9f2e93003" message="creating a new Communication for contact Id: #[vars.id]"/>
		<contact-database-system-api:create-communication doc:name="Create communication" doc:id="d38786b6-c816-49e3-b894-67c504cc2c46" config-ref="Contact_Database_System_API_Config" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}"/>
	</flow>
	<flow name="CreateNewContactFlow" doc:id="b24f73ea-9c6f-427d-9ad9-f2a494977fe9" >
		<logger level="INFO" doc:name="Logger" doc:id="bfa44399-d970-47c2-b3ad-8a9718886562" message="Creating a new Contact with payload #[payload]"/>
		<contact-database-system-api:create-contact doc:name="Create contact" doc:id="b9fed606-7747-4992-8ce9-b0878493daf2" client-id="${client.client_id}" client-secret="${client.client_secret}"/>
	</flow>
	<flow name="DeleteAddressByIdFlow" doc:id="4c081aa6-ed7c-4035-a787-135a9f46e1e0" >
		<logger level="INFO" doc:name="Logger" doc:id="41f25964-8757-4f96-91b7-cc73f6feb17e" message="DeActivating Address for Contact Id : #[vars.id] abd address Id: #[vars.addressId]"/>
		<contact-database-system-api:delete-address-by-id doc:name="Delete Address by id" doc:id="d3ba5131-6a20-481f-9ec8-6ec7578c1812" address-id="#[vars.addressId]" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}" config-ref="Contact_Database_System_API_Config"/>
	</flow>
	<flow name="DeleteCommunicationByIdFlow" doc:id="22526a52-6120-4791-97dd-05fce429dc48" >
		<logger level="INFO" doc:name="Logger" doc:id="f26f8dbe-364f-4612-a1fb-04a95a1f79e8" message="DeActivating Communication for Contact Id : #[vars.id] and Communication Id : #[vars.CommunicationId]"/>
		<contact-database-system-api:delete-communication-by-id doc:name="Delete communication by id" doc:id="1e1a4c40-7eb5-4757-84ce-41c65e544be6" communication-id="#[vars.communicationId]" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}" config-ref="Contact_Database_System_API_Config"/>
	</flow>
	<flow name="DeleteContactByIIdFlow" doc:id="80e5b67a-aaec-446f-9874-5140d96239dd" >
		<logger level="INFO" doc:name="Logger" doc:id="f86e0ea7-778c-4bfb-ab47-5a3138b59ebd" message="DeActivating Contact with contaact Id:  #[vars.id]"/>
		<contact-database-system-api:delete-contact-by-id doc:name="Delete contact by id" doc:id="124b1292-42c4-4e3e-926c-b6eb36d962c2" config-ref="Contact_Database_System_API_Config" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}"/>
	</flow>
	<flow name="GetContactAddressesFlow" doc:id="47f8964e-456f-4e10-a1c5-5af89df7763b" >
		<logger level="INFO" doc:name="Logger" doc:id="5d325afb-5e6e-41d5-a1a6-b082f9397d0b" message="Get All active Addresses details for contact #[vars.id]"/>
		<contact-database-system-api:get-contact-addresses doc:name="GET Contact Addresses" doc:id="0934abdc-7d66-49af-9aed-465716631f3d" id="#[vars.id]" client-id="${client.client_secret}" client-secret="${client.client_secret}" config-ref="Contact_Database_System_API_Config"/>
	</flow>
	<flow name="GetContactCommunicationsFlow" doc:id="6d74574c-04e3-4096-b014-085eedd23483" >
		<logger level="INFO" doc:name="Logger" doc:id="5087997c-9832-4814-9428-0cc7c5f07e90" message="Get All active Communications details for contact #[vars.id]"/>
		<contact-database-system-api:get-contact-communicarion doc:name="GET Contact Communicarion" doc:id="b224d99c-c7fd-4879-bc4a-93c5276a4ac1" config-ref="Contact_Database_System_API_Config" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}"/>
	</flow>
	<flow name="GetAddressByAddressIdFlow" doc:id="6168590f-3174-428a-a05b-49fa33833227" >
		<logger level="INFO" doc:name="Logger" doc:id="5456d938-58ee-4096-b056-e49462a57dac" message="Getting Active Address details for Contact Id : #[vars.id] and AddressId :[vars.addressId]"/>
		<contact-database-system-api:get-address-by-id doc:name="Get Address by id" doc:id="03e2ff85-8e30-4b55-967f-d9f88cafc93f" config-ref="Contact_Database_System_API_Config" address-id="#[vars.addressId]" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}"/>
	</flow>
	<flow name="GetCommunicationByCommunicationIdFlow" doc:id="b12a5673-77bf-400a-a142-d2b2ae7dd434" >
		<logger level="INFO" doc:name="Logger" doc:id="e181368b-e88c-43a1-a945-b1b1b99fadcd" message="Get Active Communication details for Contact Id : #[vars.id] and communication Id: #[vars.communicationId]"/>
		<contact-database-system-api:get-communication-by-id doc:name="Get communication by id" doc:id="8b1b193a-cc77-4689-a0da-e4fc38e09a26" config-ref="Contact_Database_System_API_Config" communication-id="#[vars.communicationId]" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}"/>
	</flow>
	<flow name="GetContactByIdFlow" doc:id="10187ee8-8493-4775-8d42-72ed7286164c" >
		<logger level="INFO" doc:name="Logger" doc:id="596c1f47-6f3f-460f-96cb-b3d2d5719308" message="Get Active Contact details for contact Id : #[vars.id]"/>
		<contact-database-system-api:get-contact-by-id doc:name="Get contact by id" doc:id="97cdc9d2-ff61-4c37-8885-ac3e87e163bd" config-ref="Contact_Database_System_API_Config" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}"/>
	</flow>
	<flow name="GetAllActiveContacts" doc:id="0933a523-54b5-418f-9fb3-5bd8dc926553" >
		<logger level="INFO" doc:name="Logger" doc:id="04cbf3be-d175-4d13-976b-81857c6417bf" message=" Get all Active Contacts is started!"/>
		<contact-database-system-api:get-contacts doc:name="Get contacts" doc:id="da0a57b8-6b22-48a4-a4b5-eb0755f20910" client-id="${client.client_id}" client-secret="${client.client_secret}" config-ref="Contact_Database_System_API_Config"/>
	</flow>
	<flow name="UpdateAddressByAddressIdFlow" doc:id="9595abfd-bdf0-49b1-b1a4-5fefec4ddc76" >
		<logger level="INFO" doc:name="Logger" doc:id="57d75027-c284-47ba-9704-bf142f5a3d92" message="updating Active address for contact Id : #[vars.id] and address id : #[vars.addressId]"/>
		<contact-database-system-api:update-address-by-id-for-a-contact doc:name="Update Address by id for a Contact" doc:id="7c7d3020-2822-4141-bd78-1809ffca7329" config-ref="Contact_Database_System_API_Config" address-id="#[vars.addressId]" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}"/>
	</flow>
	<flow name="UpdateCommunicationByCommunicationIdFlow" doc:id="26ffdb7a-b1c4-4eb8-9dbf-aff2ef9bec00" >
		<logger level="INFO" doc:name="Logger" doc:id="8dda6564-d4eb-454a-a8e3-d29616bb2100" message="updating communication for contact Id: #[vars.id] and communication id #[vars.communicationId]"/>
		<contact-database-system-api:update-communication-by-id-for-a-contact doc:name="Update communication by id for a Contact" doc:id="761a1be1-9362-4099-a2e7-75c7af2d8d0b" config-ref="Contact_Database_System_API_Config" communication-id="#[vars.communicationId]" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}"/>
	</flow>
	<flow name="UpdateContactByIdFlow" doc:id="bd1eae58-4941-4dcf-96ff-70096a0e690e" >
		<logger level="INFO" doc:name="Logger" doc:id="3c7a6eaa-b78a-46a3-b539-1ee30de3b4b9" message="updating a contact for id #[vars.id]"/>
		<contact-database-system-api:update-contact-by-id doc:name="Update contact by id" doc:id="8b9a11f8-a157-4bb0-88f2-43f5661f23bc" config-ref="Contact_Database_System_API_Config" id="#[vars.id]" client-id="${client.client_id}" client-secret="${client.client_secret}"/>
	</flow>
</mule>
