exp-contacts-api/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:contact-database-system-api="http://www.mulesoft.org/schema/mule/contact-database-system-api" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/contact-database-system-api http://www.mulesoft.org/schema/mule/contact-database-system-api/current/mule-contact-database-system-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
           <flow name="contact-system-api-main">
        <http:listener config-ref="contact-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="contact-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\contacts\(id)\address\(addressId):application\json:contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="addressId">attributes.uriParams.'addressId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="UpdateAddressByAddressIdFlow" doc:id="bdcbf395-236b-46aa-9f1d-7800532b59b4" name="UpdateAddressByAddressIdFlow"/>
    </flow>
    <flow name="put:\contacts\(id)\communication\(communicationId):application\json:contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="communicationId">attributes.uriParams.'communicationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="UpdateCommunicationByCommunicationIdFlow" doc:id="9743324a-e8c2-436a-b909-33964230b6f6" name="UpdateCommunicationByCommunicationIdFlow"/>
    </flow>
    <flow name="put:\contacts\(id):application\json:contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="UpdateContactByIdFlow" doc:id="7e0db4c8-4b82-4055-8ac5-4f47ba91b5a2" name="UpdateContactByIdFlow"/>
    </flow>
    <flow name="delete:\contacts\(id)\address\(addressId):contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="addressId">attributes.uriParams.'addressId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="UpdateContactByIdFlow" doc:id="a171a8a1-6c4f-4575-b21a-c52b70796fa8" name="DeleteAddressByIdFlow"/>
    </flow>
    <flow name="delete:\contacts\(id)\communication\(communicationId):contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="communicationId">attributes.uriParams.'communicationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="DeleteCommunicationByIdFlow" doc:id="93379595-db8c-48a9-9f6b-0925aeee45b8" name="DeleteCommunicationByIdFlow"/>
    </flow>
    <flow name="delete:\contacts\(id):contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="DeleteContactByIIdFlow" doc:id="81cd3f86-cbdc-4ec9-8184-974ae05b875f" name="DeleteContactByIIdFlow"/>
    </flow>
    <flow name="get:\contacts\(id)\address:contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="GetActive Contact Addresses" doc:id="9b04f836-8873-45b9-86c2-1c2e67e3b142" name="GetContactAddressesFlow"/>
    </flow>
    <flow name="get:\contacts\(id)\communication:contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="GetActive Contact Communications" doc:id="9354ecdb-d465-47a0-a7ed-988f49012617" name="GetContactCommunicationsFlow"/>
    </flow>
    <flow name="get:\contacts:contact-system-api-config">
		<flow-ref doc:name="Get All Active Contacts" doc:id="8bfd54bf-8954-4384-9d4b-4a016f2f26c1" name="GetAllActiveContacts"/>
		
    </flow>
    <flow name="get:\contacts\(id)\address\(addressId):contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="addressId">attributes.uriParams.'addressId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Get Communication By CommunicationId" doc:id="4c68e331-ac60-4618-9727-da35ac1fe21c" name="GetAddressByAddressIdFlow"/>
    </flow>
    <flow name="get:\contacts\(id)\communication\(communicationId):contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="communicationId">attributes.uriParams.'communicationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Get Communication By CommunicationId" doc:id="32772f31-3976-440c-a9dd-46958863df4a" name="GetCommunicationByCommunicationIdFlow"/>
    </flow>
    <flow name="get:\contacts\(id):contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Add Communication To Contact" doc:id="4d932bd6-6f4a-4dd1-b787-e1ce3e9daefc" name="GetContactByIdFlow"/>
    </flow>
    <flow name="post:\contacts\(id)\address:application\json:contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Add Address To Contact" doc:id="3203008d-5015-4ce8-a584-e28d52e212df" name="AddAddressToContactFlow"/>
    </flow>
    <flow name="post:\contacts\(id)\communication:application\json:contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Add Communication To Contact" doc:id="11a7dd1e-c116-4afe-8528-d116914fe3c3" name="AddCommunicationToContactFlow"/>
    </flow>
    <flow name="post:\contacts:application\json:contact-system-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 345
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="afe88242-c74f-427e-9df8-01807932e5fe" name="CreateNewContactFlow"/>
    </flow>
</mule>
